@model Forum.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.user_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.user_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.pass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.pass)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.role)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.role)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.image)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.image)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_user }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
