
@model Forum.Models.Post
@{
    ViewBag.Title = "Detail";
}
@Html.AntiForgeryToken()

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>Stand Blog - Post Details</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-stand-blog.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
</head>
<body>

    @****** Preloader Start ***** *@
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>
                                Bài viết của @if (Model.User.role_detail == "Nhà Doanh Nghi?p" || Model.User.role_detail == "Nhà Doanh Nghiệp")
                                {
                                    <b>Nhà Doanh Nghiệp</b>
                                }
                                @if (Model.User.role_detail == "Nhà Khoa H?c" || Model.User.role_detail == "Nhà Khoa Học")
                                {
                                    <b>Nhà Khoa Học</b>
                                }
                            </h4>
                            <h2>@Model.post_name</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="down-content">
                                    <div class="post-container">
                                        <span class="title-post">
                                            <a href="">@Model.post_name</a>
                                        </span>
                                        <ul class="post-info">
                                            <li>
                                                <a href="/Profile/Detail/@Model.User.id_user">
                                                    @if (Model.User.role_detail == "Nhà Nông")
                                                    {
                                                        <b>Nhà Nông</b>
                                                    }
                                                    @if (Model.User.role_detail == "Nhà Khoa H?c" || Model.User.role_detail == "Nhà Khoa Học")
                                                    {
                                                        <b>Nhà Khoa Học</b>
                                                    } @if (Model.User.role_detail == "Nhà Doanh Nghi?p" || Model.User.role_detail == "Nhà Doanh Nghiệp")
                                                    {
                                                        <b>Nhà Doanh Nghiệp</b>
                                                    } @Model.User.name
                                                </a>
                                            </li>
                                            <li><a href="#"></a>@Model.created_at</li>
                                            <li><a class="comment-count">@Model.Comments.Count Bình luận</a></li>
                                        </ul>
                                        @if (Model.image != null)
                                        {
                                            <img class="image-post" src="~/assets/images/@Model.image" />
                                        }
                                        <p>
                                            @Model.content_post
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item comments">
                                <div class="sidebar-heading">
                                    <h2>Bình luận</h2>
                                </div>
                                @foreach (var item in ViewData["Comment"] as IList<Forum.Models.Comment>)
                                {
                                    <div class="content comment-content">
                                        <ul>
                                            <li class="content-comment-box">
                                                <div class="author-thumb">
                                                    <h4>@item.User.user_name</h4>
                                                    <span>@item.User.role_detail</span>
                                                </div>
                                                <div class="mid-content">
                                                    <h6>@item.created_at</h6>
                                                    <div class="like-comment">
                                                        <p>@item.content_comment</p>
                                                        <p>
                                                            @if (item.like == null)
                                                            {
                                                            }
                                                            else
                                                            {
                                                            <p class="count-like">@item.like <img class="icon-like" src="~/assets/images/like.png" /></p>}
                                                        </div>
                                                    </div>
                                                    <div class="right-content">
                                                       @* <a href="@Url.Action("Report/"+ item.id_comment, "Home")" class="btn btn-primary icon-flag">
                                                                <i class="fa fa-flag"></i>
                                                            </a>*@
                                                        <input id="comment_id" hidden value="@item.id_comment" />
                                                        <a class="btn btn-primary icon-flag" onclick="displayModalReport()">
                                                            <i class="fa fa-flag"></i>
                                                        </a>
                                                            <div class="modalReport">
                                                                <h3>Lý do báo cáo</h3>
                                                                <textarea id="reasonReport"></textarea>
                                                                <div class="modal-btn">
                                                                    <button id="closeReport" onclick="closeModalReport()">Đóng</button>
                                                                    <button id="submitReport" onclick="submitModalReport()">Gửi báo cáo</button>
                                                                </div>
                                                            </div>
                                                        <a href="@Url.Action("Like/"+ item.id_comment, "Home" )" class="btn btn-primary like-icon">
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                            </div>
                        </div>
                        <div class="comment-contentainer">
                            @using (Html.BeginForm("Comment", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-lg-12 ">
                                    <div class="sidebar-item submit-comment">
                                        <div class="sidebar-heading">
                                            <h2>Bình luận của bạn</h2>
                                        </div>
                                        <div class="content">
                                            <form id="comment" action="#" method="post">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                            <textarea id="content_comment" name="content_comment"></textarea>
                                                            @Html.HiddenFor(model => model.id_post)
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                            <input type="submit" value="Bình luận" class=" btn-submit btn-comment" />
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>

    <script>
        $(document).ready(function () {
            $(".modalReport").hide();

        });
        function displayModalReport() {
            $(".modalReport").show();
        }
        function closeModalReport() {
            $(".modalReport").hide();
        }
        function submitModalReport() {
            var comment_id = $("#comment_id").val();
            var reason = $("#reasonReport").val();

            $.ajax({
                type: "POST",
                contentType: 'application/json: charset=utf-8',
                url: "/Home/Report",
                data: JSON.stringify({ 'id': comment_id, 'reason': reason }),
                dataType: "json",
                success: function (response) {
                    alert("Báo cáo bài viết thành công");
                },
                error: function (e) {
                    console.log(e);
                }
            })
        }

    </script>

    <script language="text/Javascript">

        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>
    <script>
        var loadFile = function (event) {
            var output = document.getElementById("preview-image");
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src); // free memory
            };
        };
        var hanldeDeleteImage = function (event) {
            document.getElementById("preview-image").src = "";
        };
    </script>
    <script>
        var inputs = document.querySelectorAll('.inputfile');
        Array.prototype.forEach.call(inputs, function (input) {
            var label = input.nextElementSibling,
                labelVal = label.innerHTML;

            input.addEventListener('change', function (e) {
                var fileName = '';
                if (this.files && this.files.length > 1)
                    fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                else
                    fileName = e.target.value.split('\\').pop();

                if (fileName)
                    label.querySelector('span').innerHTML = fileName;
                else
                    label.innerHTML = labelVal;
            });
        });
    </script>

</body>
