@model Forum.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";

}

<div class="list-topics">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">
            <h2>Đổi mật khẩu</h2>
            <hr />
            <div class="row justify-content-center align-items-center h-100">
                <div class="col col-md-6">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="" for="CurrentPassword">Mật khẩu hiện tại</label>
                        <input class="form-control text-box single-line password input-validation-error" data-val="true" data-val-required="The Current password field is required." id="CurrentPassword" name="CurrentPassword" style="max-width:100%" type="password" aria-describedby="CurrentPassword-error" aria-invalid="true">
                        <span class="field-validation-valid text-danger" data-valmsg-for="CurrentPassword" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="" for="NewPassword">Mật khẩu mới</label>
                        <input class="form-control text-box single-line password validate-equalTo-blur input-validation-error" data-val="true" data-val-required="The New password field is required." id="NewPassword" name="NewPassword" style="max-width:100%" type="password" aria-describedby="NewPassword-error">
                        <span class="field-validation-valid text-danger" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="" for="ConfirmPassword">Nhập lại mật khẩu mới</label>
                        <input class="form-control text-box single-line password input-validation-error valid" data-val="true" data-val-required="The Confirm password field is required." data-val-equalto="The new password and confirmation password do not match." data-val-equalto-other="*.NewPassword" id="ConfirmPassword" name="ConfirmPassword" style="max-width:100%" type="password" aria-describedby="ConfirmPassword-error">
                        <span class="field-validation-valid text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        <div class="form-group">
                            <div class="alert alert-danger">
                                @ViewBag.Message
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mr-2">Lưu</button>
                        @Html.ActionLink("Hủy", "Index", "Home", new object { }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
